$blue: #14181F;
$blue-dark: #0A0C10;
$blue-ligth: #272A31;

$red: #EA1D22;
$red-dark: #B31317;
$red-ligth: #F02A2F;

$white: #EDF1F7;
$white-dark: #E5E9EF;
$white-ligth: #F4F7FB;

$grey: #A1A3A5;
$grey-dark: #959698;
$grey-ligth: #B5B6B8;